@import url(http://fonts.googleapis.com/css?family=Acme);
@import url(http://fonts.googleapis.com/css?family=Molle:400italic);
@import url(http://fonts.googleapis.com/css?family=Ubuntu:700italic,500italic);
@import url(http://fonts.googleapis.com/css?family=Fauna+One);

h1 {
    font-family: 'Acme', sans-serif;
    text-align: center;
    font-size: 370%;
    color: #00B;
    border-style: solid;
    border-color: #90C; 
    background-color: #BDF;     
    margin-left: 350px;
    margin-right: 350px;
    padding: 20px;
}
nav {
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 40px;
}
nav a, nav a:visited {
    padding: 10px;
    border: 3px solid #B6F;
    color: #4B0082;
    background-color: #FBF;
    font-weight: bold;
    text-decoration: none;
}
body {
    background-image:url('http://www.desktopas.com/files/2013/06/Cherry-Blossoms-Flowers-Original-School-Uniforms-Anime-Girls-Other.jpg');
    background-attachment: fixed;

}
h2 {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    color: #009;
    font-size: 300%;
}    
div {
    text-align: center;
}
h3 {
    font-family: 'Molle', cursive;
    font-size: 250%;
    text-align: center;
}
p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 200%;
}
section {
    border-style: solid;
    border-color: #0CF;
    margin-left: 5.5cm;
    margin-right: 5.5cm;
    margin-top: 1.5cm;
    margin-bottom: 3cm;
    background-color: #FFF;
    padding-left: 1cm;
    padding-right: 1cm;
}
dt {
    font-weight: bold;
    font-size: 150%;
    color: #409;
}
dd {
    margin: 0.5em;
    font-size: 125%;
    color: #006;
}
